<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llf.mapper.MerchantLoginMapper">
    
    <insert id="add" parameterType="MerchantPwdPo">
        insert into merchant_pwd
        (
	        merchantId,
	        merchantLoginName,
	        merchantLoginPwd,
	        createDate,
	        createTime
		)
        values
        (
	        #{merchantId},
	        #{merchantLoginName},
	        #{merchantLoginPwd},
	        #{createDate},
	        #{createTime}
        )
    </insert>
    
    <insert id="addRole" parameterType="MerchantRolePo">
        insert into merchant_role
        (
	        merchantId,
	        roleId,
	        createDate,
	        createTime
		)
        values
        (
        	#{merchantId},
	        #{roleId},
	        #{createDate},
	        #{createTime}
        )
    </insert>
    
    <delete id="del" parameterType="MerchantPwdPo">
        delete from merchant_pwd 
        where 
       		merchantId = #{merchantId}
    </delete>
    
    <delete id="delRole" parameterType="MerchantRolePo">
        delete from merchant_role 
        where 
       		merchantId = #{merchantId}
    </delete>
    
    <update id="upd" parameterType="MerchantPwdPo">
        update merchant_pwd 
        <set>
        	<if test="merchantLoginPwd != null and merchantLoginPwd != ''">
        		merchantLoginPwd = #{merchantLoginPwd},
        	</if>
        	<if test="updateDate != null and updateDate != ''">
        		updateDate = #{updateDate},
        	</if>
        	<if test="updateTime != null and updateTime != ''">
        		updateTime = #{updateTime},
        	</if>
        </set>
        where 
       		merchantId = #{merchantId}
    </update>
    
    <select id="merchantPwdQry" parameterType="MerchantPwdPo" resultType="MerchantPwdPo">
    	select *
    	from merchant_pwd
    	<where>
    		<if test="merchantId != null and merchantId !=''">
    			merchantId = #{merchantId}
    		</if>
    		<if test="merchantLoginName != null and merchantLoginName !=''">
    			and merchantLoginName = #{merchantLoginName}
    		</if>
    		<if test="merchantLoginPwd != null and merchantLoginPwd !=''">
    			and merchantLoginPwd = #{merchantLoginPwd}
    		</if>
       	</where> 
    </select>
    
    <select id="merchantDetailInfoQry" parameterType="MerchantPwdPo" resultType="map">
    	select mi.* ,mp.merchantLoginName ,mr.roleId ,r.roleName 
    	from merchant_pwd mp
    	inner join merchant_role mr on mp.merchantId = mr.merchantId
    	inner join merchant_info mi on mp.merchantId = mi.merchantId
    	inner join role r on mr.roleId = r.roleId
    	where 
       		mp.merchantId = #{merchantId}
    </select>
    
</mapper>