<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llf.mapper.MerchantInfoMapper">
    
    <insert id="add">
        insert into merchant_info
        (
	        merchantId,
	        merchantLvl,
	        status,
	        enterDate,
	        enterTime,
	        exitDate,
	        exitTime,
	        updateDate,
	        updateTime
		)
        values
        (
	        #{merchantId},
	        #{merchantLvl},
	        #{status},
	        #{enterDate},
	        #{enterTime},
	        #{exitDate},
	        #{exitTime},
	        #{updateDate},
	        #{updateTime}
        )
    </insert>
    
    <delete id="del" parameterType="MerchantInfoPo">
        delete from merchant_info 
        where 
       		merchantId = #{merchantId}
    </delete>
    
    <update id="upd">
        update merchant_info 
        <set>
        	<if test="merchantName != null and merchantName != ''">
        		merchantName = #{merchantName},
        	</if>
        	<if test="merchantLvl != null and merchantLvl != ''">
        		merchantLvl = #{merchantLvl},
        	</if>
        	<if test="merchantType != null and merchantType != ''">
        		merchantType = #{merchantType},
        	</if>
        	<if test="merchantAddr != null and merchantAddr != ''">
        		merchantAddr = #{merchantAddr},
        	</if>
        	<if test="merchantTel != null and merchantTel != ''">
        		merchantTel = #{merchantTel},
        	</if>
        	<if test="legalPerson != null and legalPerson != ''">
        		legalPerson = #{legalPerson},
        	</if>
        	<if test="legalPerson != null and legalPerson != ''">
        		legalPerson = #{legalPerson},
        	</if>
        	<if test="estalDate != null and estalDate != ''">
        		estalDate = #{estalDate},
        	</if>
        	<if test="exitDate != null and exitDate != ''">
        		exitDate = #{exitDate},
        	</if>
        	<if test="exitTime != null and exitTime != ''">
        		exitTime = #{exitTime},
        	</if>
        	<if test="updateDate != null and updateDate != ''">
        		updateDate = #{updateDate},
        	</if>
        	<if test="updateTime != null and updateTime != ''">
        		updateTime = #{updateTime}
        	</if>
        </set>
        where 
       		merchantId = #{merchantId}
    </update>
    
    <select id="detailQry" resultType="MerchantInfoPo">
    	select * from merchant_info
    	where merchantId = #{merchantId}
    </select>
    
    <select id="detailQryByMerchantId" resultType="map">
    	select * 
    	from merchant_info
    	where merchantId = #{merchantId}
    </select>
    
    <select id="listQry" resultType="MerchantInfoPo" parameterType="MerchantInfoPo">
    	select * from merchant_info
    	<where>
    		<if test="merchantId != null and merchantId != ''">
    			merchantId = #{merchantId}
    		</if>
    		<if test="merchantName != null and merchantName != ''">
    			and merchantName = #{merchantName}
    		</if>
    		<if test="status != null and status != ''">
    			and status = #{status} 
    		</if>
    		<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
    			and enterDate between #{startDate} and #{endDate}
    		</if>
    		and deleteFlag != '1'
    	</where> 
    </select>
    
</mapper>